html{
    font-family:sans-serif;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.topNav {
    background-color: black;
    overflow: hidden;
}

.topNav a {
    float: left;
    font-family: sans-serif;
    color: lightgray;
    text-align: center;
    padding: 20px 20px 20px;
    text-decoration: none;
}

.topNav a:hover {
    color: black;
    background-color: whitesmoke;
}

.topNav a.active {
    color: lightgray;
    background-color: green;
}

.heading {
    text-align:center;
}

.body {
    text-indent:14px;
    font-size: large;
}

.image {
    width: 50%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.captions {
    color: gray;
    text-align: center;
}

ul {
    padding-top: 10px;
}

li {
    padding-top: 8px;
}

.indentAll {
    margin-left: 14px;
}